body {
    /*! display: inline-block; */
    background-image:url("../images/FootballFeild01.jpg");
    background-repeat: no-repeat;
    font-family: 'Passion One', cursive,Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    font-size: 30px;
    margin: 2% 3%;
}

h2, h1, .Score, #instructions {
    font-family:'Roboto', cursive,Arial, Helvetica, sans-serif;
    background-color: rgba(172, 74, 9, 0.76);
    border: 6px solid  white;
    border-radius: 5px 5px;
    color: blanchedalmond;
    padding: 10px;
    margin: 15px auto;
    
}

h1 {
    text-align: center;
    letter-spacing: 8px;
}
.Score{
    display: none;
}

#instructions {
    font-size: 20px;
}


#quest{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}